@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom style */
html {
    scroll-behavior: smooth;
}

:root {
    --color-primary: #09637E;
    --color-secondary: #088395;
    --color-accent: #7AB2B2;
    --color-background: #EBF4F6;
}

@keyframes scaleIn {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.animate-scaleIn {
    animation: scaleIn 0.2s ease;
}